@tailwind base;
@tailwind components;
@tailwind utilities;
.email-verification-animation {
  animation: email-verification 1s ease-in-out;
}
@keyframes email-verification {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
